BasedOnStyle: Google
Language: Cpp

IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach

SpaceBeforeParens: Never

DerivePointerAlignment: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

IndentCaseLabels: false

ContinuationIndentWidth: 2

AlwaysBreakAfterReturnType: TopLevelDefinitions
SortIncludes: false

SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SpacesInContainerLiterals: false

IncludeBlocks: Preserve

ReflowComments: false

ColumnLimit: 80
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakAssignment: 1000

